h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5em;
    color: #ffffff;
}

p {
    font-size: 1.1em;
    font-family: 'Manrope', "sans-serif";
}

a {
    font-size: 1em;
    font-family: 'Manrope', "sans-serif";
}

.header {
    background-color: #f06a6b;
    padding: 5px;
}

.menu {
    background-color: #b22f46;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: -16px;
}
