h1 {
    color: #ffffff;
}

p {
    font-size: 1.1em;
    font-family: 'Manrope', "sans-serif";
}

a {
    font-size: 1em;
    font-family: 'Manrope', "sans-serif";
}

.header {
    background-color: #f06a6b;
    padding: 5px;
    font-family: 'Montserrat', "sans-serif";
    font-size: 2.5em;
}

.menu {
    background-color: #b22f46;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: -16px;
    font-size: 1.5em;
}

.about-me {
    font-size: 2em;
    font-family: 'Montserrat', "sans-serif";
}